.tile-add{
    height: 13rem;
    width: 20rem;
    border: solid #5c5c5c;
    border-radius: 1rem;
    margin: 0 2.5rem;
  
    position: relative;
  }
  
  .tile-add-plus{
    border: solid #5c5c5c 4px;
  
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  
    position: absolute;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);
  }
  
  .tile-plus{
    height: 1.5rem;
    width: 1.5rem;
  
    margin: 0.7rem;
    opacity: 0.5;
  }
  
  .tile-title-new{
    text-align: center;
    margin: -3rem;
  
    font-size: 1.5rem;
  
    color: #5c5c5c;
  }