
  /* .home-header{
    height: 20vh;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2rem;
  }
  
  .home-title{
    font-size: 3rem;
    margin:4rem;
  }
  
  .header-icons{
    display: flex;
    gap: 2.5rem;
    justify-content: space-evenly;
    margin: 5rem;
  }
  
  .header-each-icon{
    height: 5rem;
  } */
  
  /* ----------- */
  
   .tiles{
    margin: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
  
  .tile{
    height: 17rem;
    width: 25rem;
  
    flex-shrink: 0;
  
    border-radius: 1rem;
    position: relative;
  }
  /*  
  .steam-tile-img{
    height: 13rem;
    width: 20rem;
    object-fit: cover;
  
    border-radius: 1rem;
  
    margin: 0 2.5rem;
  }
  
  .tile-launch{
    height: 3rem;
    width: 3rem;
    background-color: rgb(65, 171, 44);
    border-radius: 2rem;
  
    position: absolute;
    right: 4rem;
    bottom: 5rem
  }
  
  .tile-triangle {
      width: 0;
      height: 0;
      border-top: 0.5rem solid transparent;
      border-left: 1rem solid #d5d5d5;
      border-bottom: 0.5rem solid transparent;
  
    position: absolute;
    right: 5rem;
    bottom: 6rem;
  } */
  
  .tile-title{
    text-align: center;
    margin: 1rem;
  
    font-size: 1.5rem;
  }


  
  .office-tile-bg{
    height: 13rem;
    width: 20rem;
    object-fit: cover;
  
    border: solid 4px #5c5c5c;
    border-radius: 1rem;
  
    margin: 0 2rem 0 2rem;
    padding: 0.25rem;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .office-images{
    height: 7rem;
    width: 7rem;
    object-fit: cover;
  }
  
  .tile-add{
    height: 13rem;
    width: 20rem;
    border: solid rgb(99, 99, 99);
    border-radius: 1rem;
    margin: 0 2.5rem;
  
    position: relative;
  }
  
  .tile-add-plus{
    border: solid rgb(99, 99, 99) 4px;
  
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  
    position: absolute;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);
  }
  
  .tile-plus{
    height: 1.5rem;
    width: 1.5rem;
  
    margin: 0.7rem;
    opacity: 0.5;
  }
  
  .tile-title-new{
    text-align: center;
    margin: -3rem;
  
    font-size: 1.5rem;
  
    color: #5c5c5c;
  }