.calc-shadow-bg{
    background-color: transparent;
    position: absolute;
    height: 110vh;
    width: 110vw;
    top: 0;

    z-index: 10;
}

.calc-bg{
    height:26rem;
    width: 18rem;
    background-color: rgba(0, 0, 0, 0.95);

    position: absolute;

    right:20%;
    top:20%;

    z-index: 1000;

    border: solid grey 2px;
    border-radius: 2rem;

    padding:2rem;

}

.calc-screen{
    border: solid grey 2px;
    border-radius: 1rem;

    height: 4rem;
    margin-bottom: 1.5rem;

    padding: 2rem;
    
    font-size: 2rem;
    letter-spacing: 5px;

    display: flex;
    justify-content: left;
    align-items: center;
}

.calc-leftButtons{


    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;

    justify-items: center;
}

.calc-button{

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;

    border: solid grey 2px;
    border-radius: 0.5rem;
    height: 3.2rem;
    width: 3.2rem;
}